.about-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 8px 16px;
  background-color: #C4004B;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  border: none;
  display: inline-block;
  text-align: center;
  width: auto;
  min-width: 100px;
}

.about-button:hover {
  background-color: #E06688;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.image-item img {
  text-align: center;
  width: 150px;
}

.image-item p {
  margin: 5px 0;
  font-size: 14px;
  color: #white;
  text-align: center;
}
